.transaction-history {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 400px;
  text-align: center;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

th {
  background-color: #8d5af3;
  border: 1px solid #dccdfb;
  font-weight: normal;
  text-align: center;
  color: white;
  padding: 10px;
}

tr {
  text-align: center;
  text-transform: capitalize;
}

tr:nth-of-type(even) {
  background-color: #dccdfb48;
}
